<h1>Список вопросов теста '<%= @test.title %>':</h1>

<% if @questions.size <= 0 %>
  <p>У данного теста нет привязанных вопросов.</p>
<% else %>
  <% @questions.each do |question| %>
    <%= "Тема - #{ question.title }, id - #{ question.id }, вопрос - #{ question.question } " %>
    <%= link_to 'Удалить вопрос',
      { controller: "questions", action: "destroy", id: question.id }, 
      method: :delete, data: { confirm: "Вы уверены?" }
    %>
   <%end %>
<% end %>
