<% repo = 'Test-Guru' %>

<p><strong>Данный проект позволяет создавать тесты, вопросы к ним, а так же<br>
взаимодействовать с ними путём добавления уровней,<br>
категорий и так далее.</strong></p>

<p><strong>Автор - Pavlooid</strong></p>

<strong><%= current_year %> |</strong>

<strong><%= github_url('Pavlooid', repo) %> |</strong>

<strong><%= link_to 'Учебный проект в онлайн школе Thinknetica',
    'https://thinknetica.com',
    target: "_blank"
%></strong>
