<h1>Вопрос - <%= @answer.question.question %></h1>

<p>
  <b>Ответ:</b>
  <%= @answer.body %>
</p>

<p>
  <b>Правильно? -</b>
  <%= @answer.correct %>
</p>

<%= link_to 'Обратно', question_path(@answer.question) %>
