<h1>Все тесты:</h1>

<p>
<%= link_to 'Создать новый тест', new_test_path %> |
<%= link_to 'Выйти из системы', logout_path %>
</p>

<table>
  <tr>
    <th>ID теста</th>
    <th>Тема</th>
    <th>Сложность</th>
    <th>Кол-во вопросов</th>
    <th colspan="4">Действия</th>
  </tr>

  <%= render @tests %>
</table>
